@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}

:root {
    /* font-size */
    --fs-sm: 16px;
    --fs-1sm: 20px;
    --fs-2sm: 22px;
    --fs-md: 24px;
    --fs-1md: 35px;
    --fs-lg: 42px;
    --fs-1lg: 44px;
    --fs-2lg: 62px;

    /* color */
    --color-white: #fff;
    --color-light-white: #fffCF6;
    --color-light-black: #80765D;
    --color-white-1: #FFF9E4;
    --color-black: #000;
    --color-light-black: #3C3C3C;
    --light-black-1: #242323;
    --grey: #FAFAFA;
    --light-grey: #BAB9B9;
    /* font-famly */
    --ff-montserrat: 'montserrat Alternates';

    /*font-weight*/
    --fw-400: 400;
    --fw-600: 600;

}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-1sm {
    font-size: var(--fs-1sm);
}

.fs-2sm {
    font-size: var(--fs-2sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-1md {
    font-size: var(--fs-1md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-1lg {
    font-size: var(--fs-1lg);
}

.fs-2lg {
    font-size: var(--fs-2lg);
}

.color-light-black {
    color: var(--color-light-black);
}


.color-white-1 {
    background-color: var(--color-white-1);
}

.color-light-white {
    background-color: var(--color-light-white);
}

.light-grey {
    color: var(--light-grey);
}


.light-black-1 {
    background-color: var(--light-black-1);
}

.color-white {
    color: var(--color-white);
}

.color-light-black {
    color: var(--color-light-black);
}


.color-black {
    color: var(--color-black);
}

.grey {
    color: var(--grey);
}

.ff-montserrat {
    font-family: var(--ff-montserrat) !important;
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.max-545 {
    max-width: 545px;
}

.mt-27 {
    margin-top: 27px !important;
}

.h-722 {
    min-height: 722px;
}
.book-image{
    border-radius:8px !important;
}


.home-1 {
    transition: all 300ms linear;
}

.home-1::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 0;
    background-color: var(--grey);
    left: 0;
    top: 25px;
    border-radius: 15px;
    transition: 300ms all linear;
}

.home-1:hover::after {
    width: 100%;
}

.home-2 {
    transition: all 300ms linear;
}

.home-2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #3C3C3C;
    left: 0;
    top: 25px;
    border-radius: 15px;
    transition: 300ms all linear;
}

.home-2:hover::after {
    width: 100%;
}

.custom-1 {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 12px !important;
}

.max-800 {
    max-width: 800px !important;
}

.princing-box {
    cursor: pointer;
    transition: all .3s linear;
    border-radius: 15px;
    border: 1px solid var(--color-light-black);
}

.princing-box:hover {
    border: 1px solid var(--yellow, #FFCF23);
    background: #FFF9E4;
    box-shadow: 10px 10px 0px 0px #FFCF23;
    border-radius: 5px;
}
.princing-box:hover .most-circle {
   background-color: #FFCf23;
}


.svg {
    transition: all 300ms linear;
}

.svg:hover {
    transform: translateY(-10px);
}

.most-circle {
    width: 240px;
    transition: all .3s linear;
    display: flex;
    transform: translateY(-35px);
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: 1px solid var(--color-light-black);
    background: #FFF9E4;
}

.btn-start {
    transition: all 300ms linear;
    border-radius: 5px;
    cursor: pointer;
}

.btn-start:hover {
    border: 2px solid #988353;
    box-shadow: 5px 5px 0px 0px #FFCF23;

}




.most-circle:hover {
    background: var(--yellow, #FFCF23);
}

.btn-started {
    border-radius: 5px;
    border: 2px solid #988353;
    cursor: pointer;
}

.btn-contact {
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
    border: 1px solid transparent !important;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
}


.btn-contact:hover {
    background: var(--Linear, linear-gradient(125deg, #FFA723 0%, #FFCF23 100%));

}

.nav-bg {
    background-color: var(--color-light-black) !important;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
}

.curser-pointer {
    cursor: pointer;
}

.mt-85 {
    margin-top: 85px;
}

.max-700 {
    max-width: 700px;
}

.z-7 {
    z-index: 7 !important;
}

.btn-book {
    transition: all .3s;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--BLACK, #3C3C3C);
    background: #FFF9E4;
    box-shadow: 5px 5px 0px 0px #3C3C3C;
    transition: all 300ms linear;
}

.btn-book:hover {
    box-shadow: none;
}


.max-730 {
    max-width: 730px !important;
}

.max-612 {
    max-width: 612px !important;
}

.btn-login {
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    border: 1px solid var(--WHITE, #FAFAFA);
}

.btn-login:hover {
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--500, #80765D);
}


.service-box {
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    align-self: stretch;
    border: 1px solid rgba(255, 255, 255, 0.30) !important;
}

.service-box:hover {
    border-radius: 5px;
    border: 1px solid #FFCF23;
    background: #242323;
    box-shadow: 5px 5px 0px 0px #FFCF23;
}

.btn-started {
    background-color: transparent;
    display: flex;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid var(--BLACK, #3C3C3C);
}

.btn-book-call {
    transition: all .3s linear;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    cursor: pointer;
}

.btn-book-call:hover {
    border-radius: 5px;
    border: 1px solid var(--yellow, #FFCF23);
    box-shadow: 5px 5px 0px 0px #FFCF23;

}

.max-351 {
    max-width: 351px;
}

.btn-add {
    transition: all .3s ease-in;
    border: transparent !important;
    border-radius: 39px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.20);
}

.btn-add:hover {
    border-radius: 39px;
    border: 1px solid var(--yellow, #FFCF23);
    box-shadow: 5px 5px 0px 0px #FFCF23;

}

.max-730 {
    max-width: 730px;
}

.yellow {
    color: #FFCF23;
}

.accordion-button::after {
    border: none !important;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(../images/down-yeelow-arrow.png) !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none !important;
}

.accordion-item {
    margin-bottom: 10px;
    color: white;
    background-color: transparent !important;
}


.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    background-color: transparent !important;
    color: var(--color-light-black) !important;
}


.accordion-item:first-of-type .accordion-button {
    background-color: transparent !important;
}

.accordion {
    --bs-accordion-bg: transparent !important;
}

.accordion-body {
    background: transparent;
    padding-bottom: 20px !important;
    padding-top: 0 !important;
}


.accordion-button {
    box-shadow: none !important;
    background-color: transparent !important;
}

.mw-800 {
    min-width: 800px;
}

.right-ellipse-light-2 {
    top: 34%;
    right: 0;
}

.pt-456 {
    padding-top: 456px;
}



.border-bottom {
    border-bottom: 1px solid #E6E3DD !important;
}


.custom-2 {
    max-width: 879px;
    margin: 0 auto;
    padding: 0 12px;
}

.pt-6 {
    padding-top: 6rem;
}


.mw-344 {
    max-width: 548px;
}

.slick-dots li button:before {
    content: '' !important;
}

.slick-dots li {

    width: 37px !important;
    height: 12px !important;
    content: '';
    color: gray !important;
    background-color: grey;
    border-radius: 25px;

}

.slider-2 .slick-active {
    transform: scale(1.07);
}

.slider-2 .slick-track {
    padding-top: 50px;
    padding-bottom: 50px;
}

.slider-2 {
    margin: 0 -15px !important;
    transition: all 300ms linear;
}

.slider-2 .slick-slide {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.slider3-card {
    max-width: 861px;
    border: 1px solid var(--color-black);
    border-radius: 15px;
    transition: all 300ms linear;
}

.slider3-card:hover {
    background: #FFFCF6;
    box-shadow: 10px 10px 0px 0px #FFCF23;
}

.slider-3 ul {
    display: flex !important;
    justify-content: center !important;
    gap: 23px !important;
    transform: translateX(10px);
}



.slider-3 .slick-slide {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.slick-dots {
    bottom: -40px !important;
}

.slick-dots li.slick-active {
    opacity: 100%;
    background-color: black !important;
    border-radius: 25px;
    height: 12px !important;
    width: 60px !important;
}

.slider-3 ul {
    gap: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;


}

.slider-3 .slick-track {
    padding-bottom: 20px;
}

.min-vh-90 {
    min-height: 90vh;
}

.elipse-3 {
    top: 20%;
}

.elipse-header-1 {
    top: -38%;
    left: 24%;
}

.elipse-header-2 {
    bottom: -38%;
    left: 10%;
}

.elipse-header-3 {
    bottom: -22%;
    left: 70%;
}

.bottom-10 {
    bottom: 10%;
}

.bottom-25 {
    bottom: 35%;
}

.col-6img {
    mix-blend-mode: multiply;
}


.span1,
.span2,
.span3 {
    transition: all 0.2s ease-in-out;
}

.nav1 {
    display: none;
}

.nav2 {
    transform: rotate(48deg) translate(18px, 14px);
    width: 21px !important;
}

.nav3 {
    transform: rotate(-45deg) translate(16px, -14px);
    width: 21px !important;
}

.gap-41 {
    gap: 41px;
}

.slider-2 .slick-track {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


@media (min-width:992px) {
    #menu {
        display: none;
    }

    .br-1 {
        border-right: 1px solid #E6E0CD;
    }

}

@media (min-width:576px) {
    .w-md-140 {
        width: 140px;
    }
}

.max-460 {
    max-width: 460px;
}


@media(max-width:992px) {

    .mt-85 {
        margin-top: 60px;
    }

    .accordion-body {
        padding: 10px !important;
    }

    :root {
        /* font-size */
        --fs-sm: 15px;
        --fs-1sm: 18px;
        --fs-2sm: 20px;
        --fs-md: 22px;
        --fs-1md: 32px;
        --fs-lg: 38px;
        --fs-1lg: 40px;
        --fs-2lg: 55px;
    }

    .nav-bg {
        background-color: #2F2E2E;
    }

    .nav-2 {
        width: 46px !important;
        height: 46px !important;
    }

    .nav {
        width: 28px;
        height: 19px;
        cursor: pointer;
        position: absolute;
        top: 34px;
        right: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 4;
        border-radius: 50%;
        position: fixed;
    }

    label[id="nav"]>span {
        width: 28px;
        height: 2px;
        border-radius: 5px;
        background-color: var(--color-white);
    }

    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 390px;
        min-height: 100%;
        background: #242323;
        position: fixed;
        top: 0;
        z-index: 3;
        right: 0;
        top: -150%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .menubar .small-screen {
        max-width: 303px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .gap-41 {
        gap: 0px;
    }

    .menubar .small-screen::after {
        content: '';
        position: absolute;
        max-width: 303px;
        width: 100%;
        height: 1px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--color-white);
        left: 0;
        bottom: -20px;
    }

    .left-0 {
        right: 0;
        top: 0;
    }

    .over-flow {
        overflow-y: hidden;
    }
}

@media (max-width:768px) {
    .elipse-1 {
        height: 50px;
        width: 50x;
    }

    .accordion-button {
        padding: 12px 0px !important;
    }

    :root {
        /* font-size */
        --fs-sm: 14px;
        --fs-1sm: 17px;
        --fs-2sm: 18px;
        --fs-md: 20px;
        --fs-1md: 28px;
        --fs-lg: 35px;
        --fs-1lg: 38px;
        --fs-2lg: 52px;
    }

    .elipse,
    .elipse-3 {
        display: none;
    }

    .w-md-140 {
        width: 100px;
    }

}

@media (max-width:576px) {
    :root {
        /* font-size */
        --fs-sm: 14px;
        --fs-1sm: 16px;
        --fs-2sm: 22px;
        --fs-3sm: 18px;
        --fs-md: 18px;
        --fs-2md: 32px;
        --fs-3md: 28px;
        --fs-lg: 32px;
    }
}

@media (max-width:470px) {
    .mobileView {
        width: 100%;
    }

    :root {
        /* font-size */
        --fs-sm: 14px;
        --fs-1sm: 15px;
        --fs-2sm: 16px;
        --fs-md: 16px;
        --fs-1md: 22px;
        --fs-lg: 28px;
        --fs-1lg: 30px;
        --fs-2lg: 40px;
    }

    .w-sm-130 {
        width: 130px;
    }
}